body {
  text-align: center;
  font-family: fantasy;
}

.silver-header {
  background-color: #C0C0C0;
  font-weight: bolder;
  padding: 15px 0px;
}

.tablefont {
  font-family: monospace;
  font-weight: bold;
}

img.width {
  width: 100%;
}

img.widthpx {
  float: left
  width: 200px;
}

.right {
  float: right;
}

p.foot {
  font-family: cursive;
  font-weight: lighter;
}

th.fontbig {
  font-size: 20px
}

a.standout {
  font-size: 20px;
  margin: 20px 10px;
  background-color: #629632;
  color: #eee;
  font-family: serif;
  font-weight: bolder;
  padding: 10px 20px;
}

div.bpadding {
  padding-bottom: 20px;
}

div.tpadding {
  padding-top: 20px;
}

ul.cent {
  text-align: center;
}

ul.inline {
  display:inline-block;
}
